<div id="topPanel" class="row text-center m-1">
  <h1 class="col-12">Round</h1>
  <div class="col-3 m-2 bg-secondary">
    <h2><u>Aisle 1</u></h2>
    <div *ngFor="let item of storeContent">
      <button *ngIf="item.rmodel[round % 5] == 1" (click)="item.grabItem(round)">{{item.itemType}}</button>
    </div>
  </div>
  <div class="col-3 m-2 bg-secondary">
    <h2><u>Aisle 2</u></h2>
    <div *ngFor="let item of storeContent">
      <button *ngIf="item.rmodel[round % 5] == 2" (click)="item.grabItem(round)">{{item.itemType}}</button>
    </div>
  </div>
  <div class="col m-2 bg-secondary">
    <!--Logs here-->
  </div>
</div>

<div id="bottomPanel" class="row text-center m-1 mt-5">
  <button class="btn mx-2 btn-block btn-warning">Peek Cart</button>
  <button class="btn mx-2 btn-block btn-success">Round</button>
  <div class="col m-2 bg-secondary">
    <h2><u>Marcus</u></h2>
    <button class="btn btn-block btn-success"></button>
  </div>
  <div class="col m-2 bg-secondary">
    <h2><u>Justin</u></h2>
    <button class="btn btn-block btn-success"></button>
  </div>
  <div class="col m-2 bg-secondary">
    <h2><u>Jacob</u></h2>
    <button class="btn btn-block btn-success"></button>
  </div>
  <div class="col m-2 bg-secondary">
    <h2><u>Jacob 2</u></h2>
    <button class="btn btn-block btn-success"></button>
  </div>
  <div class="col m-2 bg-secondary">
    <h2><u>Kaleb</u></h2>
    <button class="btn btn-block btn-success"></button>
  </div>
</div>